In [24]:
import pandas as pd
import pandas as pd
from nltk.corpus import stopwords
import re
import nltk
nltk.download('stopwords')
import random

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\santo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
descriptions = [
    'Starbucks Coffee', 'Uber Ride', 'Netflix Subscription', 'Electricity Bill', 'McDonaldâ€™s',
    'Amazon Purchase', 'Spotify Premium', 'Gym Membership', 'Grocery Shopping', 'Taxi Fare',
    'Movie Ticket', 'Water Bill', 'Insurance Payment', 'Gas Station', 'Phone Bill',
    'Restaurant Dinner', 'Online Course', 'Clothing Store', 'Doctor Visit', 'Car Maintenance'
]

categories = [
    'Food & Drinks', 'Transportation', 'Entertainment', 'Utilities', 'Shopping',
    'Health', 'Education', 'Travel', 'Groceries', 'Insurance'
]

# Generate 100 sample data points
data = {
    'Description': [random.choice(descriptions) for _ in range(100)],
    'Amount': [round(random.uniform(5, 200), 2) for _ in range(100)],
    'Category': [random.choice(categories) for _ in range(100)]
}

# Convert to DataFrame
df = pd.DataFrame(data)




df.to_csv('expenses.csv', index=False)

In [27]:
df.head()

         Description  Amount   Category
0  Insurance Payment  150.07  Insurance
1   Grocery Shopping   89.95  Insurance
2     Clothing Store  135.96     Travel
3       Doctor Visit  180.85   Shopping
4          Taxi Fare  143.98  Education

In [28]:

def clean_text(text):
    text = text.lower()                                 # Lowercase
    text = re.sub(r'[^a-zA-Z\s]', '', text)             # Remove special characters
    text = ' '.join([word for word in text.split() if word not in stopwords.words('english')])  
    return text

df = pd.read_csv('expenses.csv')
df['Cleaned_Description'] = df['Description'].apply(clean_text)
print(df[['Description', 'Cleaned_Description']])

          Description Cleaned_Description
0   Insurance Payment   insurance payment
1    Grocery Shopping    grocery shopping
2      Clothing Store      clothing store
3        Doctor Visit        doctor visit
4           Taxi Fare           taxi fare
..                ...                 ...
95      Online Course       online course
96        Gas Station         gas station
97   Starbucks Coffee    starbucks coffee
98  Restaurant Dinner   restaurant dinner
99    Car Maintenance     car maintenance

[100 rows x 2 columns]

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Cleaned_Description'])
print(X.toarray())

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.70710678 ... 0.         0.         0.        ]]

TypeError: 'module' object is not callable

In [31]:
import joblib

In [32]:
joblib.dump(model, "expanse_categorizer_model.pkl")
joblib.dump(vectorizer, "vectorizer.pkl")

['vectorizer.pkl']

In [33]:
y_pred

array(['Shopping', 'Shopping', 'Education', 'Travel', 'Utilities',
       'Education', 'Education', 'Utilities', 'Entertainment', 'Shopping',
       'Entertainment', 'Shopping', 'Utilities', 'Education', 'Shopping',
       'Food & Drinks', 'Shopping', 'Shopping', 'Education', 'Shopping'],
      dtype=object)

In [9]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import numpy as np

# Sample dataset (replace this with your CSV file)
data = {
    'Description': [
        'Movie ticket at PVR',
        'Hospital bill for checkup',
        'Tuition fee for Python course',
        'Netflix monthly subscription',
        'Medicine purchase',
        'Books for Data Science',
        'Dinner at BBQ Nation',
        'Gym membership fee',
        'Doctor consultation fee'
    ]
}
df = pd.DataFrame(data)

# Vectorize the text descriptions
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['Description'])

# Determine optimal number of clusters using silhouette score
def optimal_clusters(X, max_clusters=5):
    best_score = -1
    best_k = 2
    for k in range(2, min(max_clusters, X.shape[0])):  # Ensures k < n_samples
        kmeans = KMeans(n_clusters=k, random_state=42, n_init='auto')
        labels = kmeans.fit_predict(X)
        score = silhouette_score(X, labels)
        if score > best_score:
            best_score = score
            best_k = k
    return best_k

# Optimal cluster calculation
optimal_k = optimal_clusters(X)
print(f"Optimal number of clusters: {optimal_k}")

# Train KMeans model
kmeans = KMeans(n_clusters=optimal_k, random_state=42, n_init='auto')
df['Category'] = kmeans.fit_predict(X)

# Display grouped data
grouped_expenses = df.groupby('Category')['Description'].apply(list).reset_index()
# print(grouped_expenses)

# Optional: Mapping categories to meaningful labels (manual mapping)
category_mapping = {
    0: 'Entertainment',
    1: 'Health',
    2: 'Education',
    3: 'Food & Dining',
    4: 'Subscription'
}
df['Category'] = df['Category'].map(category_mapping)

print("\nCategorized Expenses:\n", df)

Optimal number of clusters: 4

Categorized Expenses:
                      Description       Category
0            Movie ticket at PVR         Health
1      Hospital bill for checkup  Food & Dining
2  Tuition fee for Python course         Health
3   Netflix monthly subscription         Health
4              Medicine purchase      Education
5         Books for Data Science         Health
6           Dinner at BBQ Nation  Entertainment
7             Gym membership fee         Health
8        Doctor consultation fee         Health